.homepageBackground{
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.companyLogo{
	width:300px;
	height:60px;
}
.profilePicture{
	width:300px;
	height:300px;
}
.iconImage{
	font-size:48px !important;
	color:white;
}

.projectTile {
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

.projectTile img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.window-image{
	height:-webkit-fill-available;
	width:-webkit-fill-available;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
