            .he{
				color:#4db6ac;
				font-size:8em;
				letter-spacing:0.06em;
				
			}
			.a{
				margin-left:3em;
				margin-top:3em;
				margin-bottom:3em;
				width:18em;
				height:30em;
				text-decoration:none;
			}
			.ass{
				margin:3em;
				width:21em;
				height:40em
			}
			.paraler{
				
    /* The image used */
	background-image: url("garage.jpg");

    /* Set a specific height */
        
	    min-height:480px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
			}
			.trew{
				font-size:1.5em;
				margin:2em;
				border-radius: 0.5em ;
background-color:#F32C52;
color:white;
border-color:#F32C52;
			}
			img.ter{
				 width:210px;
				 height:65px; 
				 float:left;
				 padding:5px;
			}
			.popo{
				width:400px;
				height:400px;
				padding-top:50px;
			}
			.c{
				clear:both;
			}
			#sedd{
			color:black;
			background-color:white;
			
			
			}
			.ret{
				clear:both;
				
			}
			p.ods{
				max-width:300px;
			}
			p.po{
				font-size:20px;
				color:white;
			}
			p.polo{
				font-size:20px;
				background-size: cover;
			}
			#i{
				font-weight:bold;
				position:relative;
				top:10px;
			}
			.s{
				background-color:#e0e0e0;
			}
			.im{
				float:left;
				position:relative;
				top:-15px;
			}
            .link{
            color:red;
			text-align:right;
            background-color: pink;
            width:7.4%;
            }
			
			.il{
				position:relative:
				left:45px;
				top:15px;
			}
			.g{
				padding-right:10px;
			}
			p.tr{
				padding-top:50px;
				max-width:950px;
				color:orange;
				font-size:30px;
				text-align:center-left;
			}
			p.tre{
				padding-top:50px;
				max-width:950px;
				color:#ffff00;
				font-size:2.5em;
				text-align:center;
			}
            .ff{
				float:left;
				margin:7.25em;
			}
			.sail{
		/*		background: #cb2d3e;  /* fallback for old browsers */
		background: linear-gradient(to bottom, #ef473a 0%, #cb2d3e 100%);
/*background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			}
			.fell{
				font-size:2em;
				color:white;
				
			}
            .feff{
				float:left;
				margin:4.25em;
			}
			.lele{
				height:20em;
				width:27em;
				
				
			}
            .fe{
				width:30em ;
				height:10em;
				margin:1em;
				margin:3em;
			}
            .text{
            
            width:17.5%;
            } 
			.all{
				float:left;
				width:480px;
				height:80px;
			}
			p.if{
				color:#880e4f;
				font-size:20px;
				font-weight:bold;
				position:relative;
				top:5px;
			}
			#opp{
				margin:20px;
			}
			#lin{
            color:white;
			font-size:2em;
           
            }
	#yull{
		background-color:black;
	}
			.pp{
				position:relative;
				top:5px;
			}
			
.parallax {
    /* The image used */
	background-image: url("cool.jpg");

    /* Set a specific height */
        
	    min-height:480px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralw {
    /* The image used */
	background-image: url("garage.jpg");

    /* Set a specific height */
        
	    min-height:480px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paral {
    /* The image used */
	background-image: url("parking-bg.jpg");

    /* Set a specific height */
        
	    min-height:480px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paa {
    
	background-image: url("parking.jpg");
	    min-height:480px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	
			