/*
This was a playground project to try out different things.
*/

.oop{
	top:30em;
	font-size:12em;
}
	.sde{
		margin:5em;
	}

	.im{
				float:left;
				position:relative;
				top:-15px;
			}
			#opp{
				margin:20px;
			}
	.yelp{
		background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	}
	.yull{
		background-color:black;
	}
	#opp{
				margin:20px;
			}
			
.leer{
	margin-top:3.5em;
}
		p.if{
				color:#880e4f;
				font-size:20px;
				font-weight:bold;
				position:relative;
				top:5px;
			}
.he{
				color:#4db6ac;
				font-size:7em;
				margin-top:-0.85em;
				margin-bottom:-0.85em;
				letter-spacing:0.1em;
				
			}
	.ret{
		
		
				clear:both;
				
			}		
.il{

				left:45px;
				top:15px;
			}
#lin{
            color:white;
			font-size:2em;
           
            }